@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
}

body {
    color: white;
    overflow-x: hidden;
    background-color: #060411;
    font-family: "Fira Sans";
}

body::-webkit-scrollbar {
    width: 2px;
}

body::-webkit-scrollbar-thumb {
    background-color: #FF3366;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.footer {
    padding-bottom: 3%;
}

.fa-discord:hover {
    color: #5865f2;
    cursor: pointer;
}

.fa-youtube:hover {
    color: #ff0000;
    cursor: pointer;
}

.fa-github:hover {
    color: #f700ff;
    cursor: pointer;
}

.fa-paypal:hover {
    color: #c50031;
    cursor: pointer;
}

.tippy-box[data-theme~='github'] {
    background-color: #a500ce;
    color: #ffffff;
}

.tippy-box[data-theme~='discord']{
    background: #5865f2;
    color: #ffffff;
}

.tippy-box[data-theme~='youtube']{
    background: #ff0000;
    color: #ffffff;
}

.tippy-box[data-theme~='item']{
    background: #616161;
    color: #ffffff;
}

.tippy-box[data-theme~='github'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #ffffff;
    background-color: #000000;
    border-bottom-color: #ffffff;
}

/* PayPal tippy*/
.tippy-box[data-theme~='paypal'] {
    background-color: #c50031;
    color: #ffffff;
}

.tippy-box[data-theme~='paypal'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #003087;
    border-bottom-color: #003087;
}


@keyframes example {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 200px;
        top: 0px;
    }

    50% {
        left: 200px;
        top: 200px;
    }

    75% {
        left: 0px;
        top: 200px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

/* Responsive */
@media only screen and (min-width: 640px) {
    .padding {
        padding-left: 23%;
        padding-right: 23%;
    }

    .header {
        padding-top: 3%;
    }

    .ct {
        padding-top: 4%;
    }
}

@media only screen and (max-width: 640px) {
    .padding {
        padding-left: 3%;
        padding-right: 3%;
    }

    .header {
        padding-top: 7%;
    }

    .ct {
        padding-top: 8%;
    }
}

/** portofolio stuff */

ul {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.filter-menu {

    margin-top: 29px;
}
.filter-menu div {
    display: inline-block;
    padding: 10px 28px;
    border-radius: 10px;
    border-spacing: 30px;
    background: #FF3366;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}
.filter-menu div:hover {
    background: #bb264b;
}

.filter-item img {
    max-width: 100%;
    height: auto;
  align-items: center;
}

.filter-item div {
    margin: 0 1.5rem;
    width: 50%;
    padding: 2px;
    float: left;
}

.filter-item div.active {
    width: 50%;
    padding: 2px;
    transition: all 0.5s ease;
}

.filter-item div.delete {
    width: 0%;
    padding: 0;
    transition: all 0.5s ease;
}

.filter-item img {
    display: inline-block;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    margin-top: 29px;
    border-radius: 20px;
    cursor: pointer;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

@media screen and (min-width: 768px){
    .filter-item div.active,
    .filter-item div{
        width: 33.33%;
    }

    h2{
        font-size: 190%;
    }
}
@media screen and (min-width: 1280px){
    .filter-item div.active,
    .filter-item div{
        width: 25%;
    }

    h2{
        font-size: 270%;
    }
}